// // The ui-variables file is provided by base themes provided by Atom.
// //
// // See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// // for a full listing of what's available.
@import "ui-variables";

.atom-cscope {
  margin: 20px;
  display: flex;
  flex-flow: column;
  position: relative;

  .header {
    display: flex;
    align-items: center;
    flex-shrink: 0;

    section {
      margin-right: 10px;
    }

    .title {
      display: flex;
      align-items: baseline;

      #result-count {
        margin-left: 10px;
      }
    }

    .loading {
      transition: all .3s ease .15s;
    }

    .loading.no-show {
      display: none;
    }
  }

  #form-container {
    display: flex;
    flex-shrink: 0;

    atom-text-editor {
      margin: 0;
      font-size: @font-size;
      line-height: @component-line-height;
      justify-content: space-around;
      display: flex;
      flex-direction: column;
    }

    select {
      margin: 0;
      border: 1px @input-border-color solid;
      border-radius: @component-border-radius;
    }
  }

  .list-container {
    display: flex;
    flex-grow: 2;

    #cscope-results {
      margin-top: 10px;

      #result-container.empty {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 0;

        li {
          text-align: center;
          flex-direction: column;
          justify-content: space-around;
          padding: 0;
          font-size: 45px;
          color: @text-color-subtle;
        }
      }

      #result-container {
        overflow-y: scroll;
        overflow-x: hidden;
        height: 100%;
        counter-reset: section;

        li.result-item {
          padding: 10px;
          display: flex;
          flex-wrap: wrap;

          .line-info {
            margin-left: 20px;
          }

          .bold {
            font-weight: bold;
          }
        }

        li.result-item:before {
          counter-increment: section;
          content: counter(section) ".";
          margin-right: 10px;
        }

        li.result-item.selected {
          background: @background-color-selected;
          color: @text-color-selected;
        }
      }
    }

  }
}

.atom-cscope.wide {
  min-height: 300px;
  max-height: 300px;

  #form-container {
    flex-direction: row;
    justify-content: space-between;

    .text-input-section {
      width: calc(70%);

      .text-input-block {
        height: calc(100%);

        atom-text-editor {
          width: 100%;
          min-height: calc(100%);
        }
      }
    }

    .atom-cscope-search {
      height: 100%;

      #search {
        height: 100%;
      }
    }

    .select-input-section {
      width: calc(10%);
      min-width: 200px;

      select {
        width: 100%;
      }
    }

  }

  .list-container {
    #cscope-results {
      width: 100%;
    }
  }
}

.atom-cscope.narrow {
  min-width: 500px;
  max-width: 800px;

  #form-container {
    flex-direction: column;

    section {
      margin-top: 10px;
    }

    .atom-cscope-search-wrapper {
      margin-top: 0;
      position: absolute;
      top: 4px;
      right: 0;
    }
  }

  #cscope-results {
    width: 100%;
  }
}
